<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PNRParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <PNRParser.Properties.Settings>
      <setting name="database" serializeAs="String">
        <value />
      </setting>
      <setting name="dbType" serializeAs="String">
        <value />
      </setting>
    </PNRParser.Properties.Settings>
  </userSettings>
<connectionStrings><add name="PNRParserEntities" connectionString="metadata=res://*/PNRParserEntities.csdl|res://*/PNRParserEntities.ssdl|res://*/PNRParserEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.47;initial catalog=PNRParser;persist security info=True;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="TravComEntities" connectionString="metadata=res://*/TravComEntities.csdl|res://*/TravComEntities.ssdl|res://*/TravComEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.6;initial catalog=TravCom;user id=sa;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>